@{
    Layout = "";
    List<SoftvMVC.Controllers.EncuestaController.Detalle_pregunta> preguntas = (List<SoftvMVC.Controllers.EncuestaController.Detalle_pregunta>)ViewData["preguntas"];
    Random rnd = new Random();
    int number = rnd.Next(1, 13);
    int b45 = 0;

}

<html>

<head>
    <script src="~/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- Bootstrap 3.3.5 -->
    <title>PreView | @ViewBag.NombreEncuesta</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="~/plugins/iCheck/square/purple.css">
    <link href="~/plugins/iCheck/square/orange.css" rel="stylesheet" />
    <link href="~/plugins/sweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/plugins/sweetAlert/sweetalert.min.js"></script>
    <link href="~/dist/js/jquery.flexdatalist.css" rel="stylesheet" />
    <script src="~/dist/js/jquery.flexdatalist.js"></script>
    <style>
        body {
            background-color: #ECF0F5;
        }

    </style> 
</head>
<body>
    <div class="container" style="background-color:#fff;  box-shadow: 2px 2px 5px #999; margin-top:10px; width:70%;">

        <div class="row">
            <h3 style="padding-left:20px;"><a href="/Encuesta" style="color:#5bc0de;"><i class="fa fa-angle-left" aria-hidden="true"></i> Regresar</a></h3>
            <h1 class="text-center" style="color:#4b646f;"><strong>@ViewBag.NombreEncuesta</strong></h1>

            <div class="page-title" style="background-color:#3c8dbc; color:#fff; width:100%;">
                <div class="container">
                    <h3 style="color:#fff; font-size:16px;">
                        @ViewBag.Descripcion
                    </h3>
                </div>
            </div><br />
            <div class="row container" id="conetar_plaza">
                <div class="col-md-6">
                    <button class="btn btn-warning" onclick="AbrirModal()"><i class="fa fa-map-marker" aria-hidden="true"></i> SELECCIONAR PLAZA</button>
                </div>
            </div>
            <div class="row">
                <h3 class="text-center" id="texto_plaza" style="color:#4b646f;"></h3>
            </div>
        </div>
        <div class="row" id="panel_busqueda" style="display:none;">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color:#4b646f;">
                                Busqueda con filtros
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <br />
                            <div class="row">
                                <fieldset>
                                    <legend class="text-center" style="font-size:19px; color:#4b646f;">Selecciona un tipo de servicio</legend>
                                    <div class="col-md-4 col-md-offset-4">
                                        <p class="text-center">
                                            <select class="form-control" id="tipo_servicio">
                                            </select>
                                        </p>
                                        
                                    </div>
                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset>
                                    <legend class="text-center" style="font-size:19px; color:#4b646f;">Selecciona un tipo de busqueda</legend>
                                    <div class="col-md-4 col-md-offset-4">
                                        <p class="text-center wrapper">
                                            <label class="radio-inline" for="estatus">
                                                <input type="radio" name="busqueda" id="estatus" value="1">
                                                Status
                                            </label>
                                            <label class="radio-inline" for="rango">
                                                <input type="radio" name="busqueda" id="rango" value="2">
                                                Rango de fechas
                                            </label>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                            <div id="panel_status" style="display:none;">
                                <div class="row">
                                    <fieldset>
                                        <legend class="text-center" style="font-size:19px; color:#4b646f;">Selecciona un status del cliente</legend>
                                        <div class="col-md-7 col-md-offset-2">
                                            <div class="row">
                                                <p class="text-center wrapper">
                                                    <label class="radio-inline" for="contratado">
                                                        <input type="checkbox" name="contratado" id="contratado" value="C">
                                                        Contratado
                                                    </label>
                                                    <label class="radio-inline" for="suspendidos">
                                                        <input type="checkbox" name="suspendidos" id="suspendidos" value="S">
                                                        Suspendidos
                                                    </label>
                                                    <label class="radio-inline" for="cancelados">
                                                        <input type="checkbox" name="cancelados" id="cancelados" value="B">
                                                        Cancelados
                                                    </label>
                                                    <label class="radio-inline" for="temporales">
                                                        <input type="checkbox" name="temporales" id="temporales" value="T">
                                                        Temporales
                                                    </label>
                                                </p>
                                            </div>
                                            <div class="row">
                                                <p class="text-center wrapper">
                                                    <label class="radio-inline" for="instalados">
                                                        <input type="checkbox" name="instalados" id="instalados" value="I">
                                                        Instalado
                                                    </label>
                                                    <label class="radio-inline" for="desconectados">
                                                        <input type="checkbox" name="desconectados" id="desconectados" value="D">
                                                        Desconectados
                                                    </label>
                                                    <label class="radio-inline" for="fuera_servicio">
                                                        <input type="checkbox" name="fuera_servicio" id="fuera_servicio" value="F">
                                                        Fuera de servicio
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div id="panel_fechas" style="display:none;">
                                <div class="row">
                                    <fieldset>
                                        <legend class="text-center" style="font-size:19px; color:#4b646f;">Selecciona un rango de fechas basado en el status seleccioando</legend>
                                        <div class="col-md-6 col-md-offset-3">
                                            <div class="row">
                                                <p class="text-center wrapper">
                                                    <label class="radio-inline" for="fecha_contratacion">
                                                        <input type="radio" name="fechas" id="fecha_contratacion" value="1">
                                                        Fecha de contratacion
                                                    </label>
                                                    <label class="radio-inline" for="fecha_instalacion">
                                                        <input type="radio" name="fechas" id="fecha_instalacion" value="2">
                                                        Fecha de instalación
                                                    </label>
                                                    <label class="radio-inline" for="fecha_cancelacion">
                                                        <input type="radio" name="fechas" id="fecha_cancelacion" value="3">
                                                        Fecha de cancelación
                                                    </label>
                                                </p>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3 col-md-offset-3">
                                            <p class="text-right">
                                                <span>Fecha inicial</span>
                                                <input type="date" id="fecha_inicio" class="form-control" />
                                            </p>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="text-left">
                                                <span>Fecha final</span>
                                                <input type="date" id="fecha_final" class="form-control" />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>                         
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-right">
                                        <button class="btn btn-primary" id="busqueda_masiva"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#4b646f;">
                                Busqueda individual
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#contrato" aria-controls="contrato" role="tab" data-toggle="tab">Contrato</a></li>
                                <li role="presentation"><a href="#nombre" aria-controls="nombre" role="tab" data-toggle="tab">Nombre</a></li>
                                <li role="presentation"><a href="#direccion" aria-controls="direccion" role="tab" data-toggle="tab">Dirección</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="contrato">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p style="color:#4b646f;">Ingrese el número de contrato</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="input_contrato" />
                                            <span class="help-block">El número de contrato está formado por 2 grupos de números con un guión intermedio p.e. (1234-1)</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-right">
                                                <button class="btn btn-primary" id="buscar_por_contrato"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="direccion">
                                    <br />
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="ciudad" placeholder="Ciudad" />
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="colonia_domicilio" placeholder="Colonia" />
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="calle" placeholder="Calle" />
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="numero_domicilio" placeholder="Número" />
                                            </div>
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-right">
                                                <button class="btn btn-primary" id="buscar_por_direccion"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="nombre">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p style="color:#4b646f;">Nombre completo</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" id="nombre_individual" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="text-right">
                                                <button class="btn btn-primary" id="buscar_por_nombre"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- panel body -->
                    </div>
                </div>
            </div>
        </div>
        <br />
        
        <div class="row" id="invalido" style="display:none;">
            <div class="col-md-12">
                <div class="alert alert-warning alert-dismissible fade in" role="alert"><strong>Opsss!</strong> No se encontraron coincidencias. </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div id="panel_individual" style="display:none;">
                            <table id="TablaIndividual" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <td><b>Contrato</b></td>
                                        <td><b>Nombre</b> </td>
                                        <td><b>Ciudad</b></td>
                                        <td><b>Colonia</b></td>
                                        <td><b>Calle</b></td>
                                        <td><b>Número</b></td>
                                        <td><b>Opciones</b></td>
                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>
                        </div>
                        <div id="panel_masivo" style="display:none;">
                            <table id="TablaMasiva" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <td><b>Contrato</b></td>
                                        <td><b>Nombre</b> </td>
                                        <td><b>Ciudad</b></td>
                                        <td><b>Colonia</b></td>
                                        <td><b>Calle</b></td>
                                        <td><b>Número</b></td>
                                        <td><b>Opciones</b></td>
                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>
                        </div>
                        
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div class="modal fade" id="Modal_Plaza" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p class="col-md-4 control-label" for="selectbasic" style="padding-top:10px; color:#4b646f;">Selecciona la plaza</p>
                            <div class="col-md-6">
                                <select id="conexion_plaza" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-success" onclick="plaza_conexion()" type="button" id="aceptar_plaza">Conectar</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade bs-example-modal-md" id="modal_aplicar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title text-center" style="color:#4b646f;">@ViewBag.NombreEncuesta</h4>
                </div>
                <div class="modal-body">
                    <script>
                        var contador_preguntas = 0;
                    </script>

                    <div class="container" style="background-color:#fff;  box-shadow: 2px 2px 5px #999; margin-top:10px; width:96%;">
                        <h4 id="nombre_cliente_modal" style="color:#4b646f;"></h4>
                        <h5 id="ciudad_modal" style="color:#4b646f;"></h5>
                        <h5 id="colonia_modal" style="color:#4b646f;"></h5>
                        <h5 id="calle_modal" style="color:#4b646f;"></h5>
                        <h5 id="numero_modal" style="color:#4b646f;"></h5>
                        <h5 id="telefono_modal" style="color:#4b646f;"></h5>
                        <input type="hidden" id="cliente_id" />
                        <input type="hidden" id="encuesta_id" name="id_encuesta" value="@ViewBag.IdEncuesta">
                        <br />
                        <hr />
                        <form id="encuestaForm">
                            @foreach (var a in preguntas)
                            {

                                <script>
                                    contador_preguntas += 1;
                                </script>
                                <h4 style="color:#4b646f; font-size:14px; padding-left:10px;"><b>@a.Pregunta.Pregunta</b></h4>
                                <input type="hidden" name="p@(a.Pregunta.IdTipoPregunta)s(@a.Pregunta.IdPregunta)" value="@(a.Pregunta.Pregunta)" />

                                if (a.Pregunta.IdTipoPregunta.Value == 1)
                                {
                                    <div style="padding-left:30px;">
                                        <textarea class="form-control" style="width:50%" name="@a.Pregunta.IdPregunta"></textarea>
                                    </div>
                                }

                                else if (a.Pregunta.IdTipoPregunta.Value == 2)
                                {
                                    <div style="padding-left:60px;" class="wrapper">
                                        <div class="radio icheck">
                                            <input type="radio" id="@a.Pregunta.IdPregunta s" name="@a.Pregunta.IdPregunta" value="1">
                                            <label for="@a.Pregunta.IdPregunta s">Si</label>
                                        </div>
                                        <div class="radio icheck">
                                            <input type="radio" id="@a.Pregunta.IdPregunta n" name="@a.Pregunta.IdPregunta" value="0">
                                            <label for="@a.Pregunta.IdPregunta n">No</label>
                                        </div>
                                    </div>
                                }
                                else if (a.Pregunta.IdTipoPregunta.Value == 3)
                                {
                                    <div style="padding-left:60px;" class="wrapper">
                                        @foreach (var b in a.Respuestas)
                                        {

                                            <div class="radio icheck">
                                                <input id="@b.ResOpcMult" type="radio" name="@a.Pregunta.IdPregunta" value="@b.Id_ResOpcMult">
                                                <label for="@b.ResOpcMult">@b.ResOpcMult</label>
                                            </div>

                                        }
                                    </div>


                                }

                            }
                        </form>

                        <br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-success" onclick="enviarEncuesta()" type="button">Guardar</button>
                </div>
            </div>
        </div>
    </div></body>
</html>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-flash-1.2.1,b-html5-1.2.1,b-print-1.2.1,r-2.1.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-flash-1.2.1,b-html5-1.2.1,b-print-1.2.1,r-2.1.0/datatables.min.js"></script>
<script src="~/dist/js/pages/Encuesta/preview_scripts.js"></script>