@{
    Layout = "";
    List<SoftvMVC.Controllers.EncuestaController.Detalle_pregunta> preguntas = (List<SoftvMVC.Controllers.EncuestaController.Detalle_pregunta>)ViewData["preguntas"];
    Random rnd = new Random();
    int number = rnd.Next(1, 13);
    int b45 = 0;

}

<html>

<head>
    <script src="~/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- Bootstrap 3.3.5 -->
    <title>PreView | @ViewBag.NombreEncuesta</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css">
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="~/plugins/iCheck/square/purple.css">
    <link href="~/plugins/iCheck/square/orange.css" rel="stylesheet" />
    <link href="~/plugins/sweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/plugins/sweetAlert/sweetalert.min.js"></script>
    <link href="~/dist/js/jquery.flexdatalist.css" rel="stylesheet" />
    <script src="~/dist/js/jquery.flexdatalist.js"></script>
    <style>
        
          
        body{
            background-color:#ECF0F5;
        }
        input[type=radio],
        input[type=checkbox] {
	        display: none;
        }
        label:before {
	        content: "";
	        display: inline-block;

	        width: 16px;
	        height: 16px;

	        margin-right: 10px;
	        position: absolute;
	        left: 0;
	        bottom: 1px;
	        background-color: #aaa;
	        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
        }

        .radio label:before {
	        border-radius: 8px;
        }
        .checkbox label {
	        margin-bottom: 10px;
        }
        .checkbox label:before {
            border-radius: 3px;
        }

        input[type=radio]:checked + label:before {
            content: "\2022";
            color: #f3f3f3;
            font-size: 30px;
            text-align: center;
            line-height: 18px;
        }

        input[type=checkbox]:checked + label:before {
	        content: "\2713";
	        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	        font-size: 15px;
	        color: #f3f3f3;
	        text-align: center;
            line-height: 15px;
        }

    </style>

    
</head>
<body>
    <div class="container" style="background-color:#fff;  box-shadow: 2px 2px 5px #999; margin-top:10px; width:70%;">
       
            <div class="rowf" >

                <!--<p class="text-right" style="color:#00a9b2; font-size:16px;"><strong>@ViewBag.FechaCreacion</strong></p>-->
                <h1 class="text-center" style="color:#4b646f;"><strong>@ViewBag.NombreEncuesta</strong></h1>

                <div class="page-title" style="background-color:#3c8dbc; color:#fff; width:100%;">
                    <div class="container">
                        <h3 style="color:#fff; font-size:16px;">
                            @ViewBag.Descripcion
                        </h3>
                    </div>
                </div><br />
                <div class="row" id="conetar_plaza">
                    <div class="col-md-6 col-md-offset-4">
                        <button class="btn btn-warning" onclick="AbrirModal()"><i class="fa fa-map-marker" aria-hidden="true"></i> SELECCIONAR PLAZA</button>
                    </div>
                </div><br /><br />


                <form id="encuestaForm" style="display:none;">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 id="texto_plaxa" class="text-center" style="color:#4b646f;"></h1>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <input type="text" class="flexdatalist form-control" id="cliente_id" placeholder="Nombre del cliente" />
                        </div>
                    </div><br />
                    <input type="hidden" id="encuesta_id" name="id_encuesta" value="@ViewBag.IdEncuesta">
                    <div class="container" style="margin-left:50px;">

                        @foreach (var a in preguntas)
                        {


                            <h4 style="color:#4b646f; font-size:14px;"><b>@a.Pregunta.Pregunta</b></h4>
                            <input type="hidden" name="p@(a.Pregunta.IdTipoPregunta)s(@a.Pregunta.IdPregunta)" value="@(a.Pregunta.Pregunta)" />

                            if (a.Pregunta.IdTipoPregunta.Value == 1)
                            {
                                <div style="padding-left:30px;">
                                    <textarea class="form-control" style="width:50%" name="@a.Pregunta.IdPregunta" required></textarea>
                                </div>
                            }

                            else if (a.Pregunta.IdTipoPregunta.Value == 2)
                            {
                                <div style="padding-left:30px;" class="wrapper">
                                    <div class="radio icheck">
                                        <input type="radio" id="@a.Pregunta.IdPregunta s" name="@a.Pregunta.IdPregunta" value="1">
                                        <label for="@a.Pregunta.IdPregunta s">Si</label>
                                    </div>
                                    <div class="radio icheck">
                                        <input type="radio" id="@a.Pregunta.IdPregunta n" name="@a.Pregunta.IdPregunta" value="0">
                                        <label for="@a.Pregunta.IdPregunta n">No</label>
                                    </div>
                                </div>
                            }
                            else if (a.Pregunta.IdTipoPregunta.Value == 3)
                            {
                                <div style="padding-left:30px;" class="wrapper">
                                    @foreach (var b in a.Respuestas)
                                    {

                                    <div class="radio icheck">
                                        <input id="@b.ResOpcMult" type="radio" name="@a.Pregunta.IdPregunta" value="@b.ResOpcMult">
                                        <label for="@b.ResOpcMult">@b.ResOpcMult</label>
                                    </div>

                                    }
                                </div>


                            }

                        }

                    </div><hr />
                    <div class="row">
                        <div class="col-md-5 col-md-offset-7">
                            <div class="" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary" onclick="enviarEncuesta()"><i class="fa fa-check" aria-hidden="true"></i> Guardar Encuesta</button>
                                @Html.ActionLink("Regresar", "Index", "Encuesta", null, new { @class = "btn btn-info" })
                            </div>
                        </div>
                    </div>
                </form>










            </div>
        

        
      

    </div>
    

    <div class="modal fade" id="Modal_Plaza" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Selecciona la plaza</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-6 col-md-offset-3">
                        <select class="form-control" id="conexion_plaza">
                            <option value="default" selected disabled>Selecciona la plaza</option>
                        </select>
                    </div>
                    <br />
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
                    <button class="btn btn-success" onclick="plaza_conexion()" type="button" id="aceptar_plaza">Conectar</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        
        $.ajax({
            url: "/Conexion/ListaConexiones/",
            type: "GET",
            success: function (data, textStatus, jqXHR) {
                for (var i = 0; i < data.length; i++) {
                    $('#conexion_plaza').append($('<option>', {
                        value: data[i].IdConexion,
                        text: data[i].Plaza
                    }));
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {

            }
        });

    });


    function AbrirModal() {
        $('#Modal_Plaza').modal("show");
    }

    function plaza_conexion() {
        $('#Modal_Plaza').modal("hide");
        $('#conetar_plaza').hide();
        $('#encuestaForm').show();
        $('#texto_plaxa').text('Plaza '+$( "#conexion_plaza option:selected" ).text());
        var id_plaza = $('#conexion_plaza').val();
        var api = '/CLIENTE/GetClientesPorCoincidencia/?conexion=' + id_plaza;
        $('#panel_cliente').show();
        $('.flexdatalist').flexdatalist({
            minLength: 1,
            url: api,
            selectionRequired: true,
            valueProperty: 'CONTRATO',
            textProperty: '{NOMBRE},{CONTRATO}',
            visibleProperties: ["NOMBRE", "CONTRATO"],
            searchIn: "NOMBRE",
        });
    }
    
  

    function enviarEncuesta() {
        var cliente = $('#cliente_id').val();
        var plaza = $('#conexion_plaza').val();
        console.log(plaza);
        if (cliente == "") {
            swal("Agrega un cliente válido", "", "error");
        } else {
            var html = $('#encuestaForm');
            var datos = {};
            var count = 0;
            datos.id_encuesta = new Array();
            datos.cliente = new Array();
            datos.id_plaza = new Array();
            datos.pregunta = new Array();
            datos.respuestas = new Array();
            var cliente = [];
            var datos_preguntas = [];
            var datos_respuestas = [];
            var data = $('#encuestaForm').serializeArray().reduce(function (obj, item, indice) {
                obj[item.name] = item.value;
                //console.log(obj);
                console.log(item);
                if (indice == "0") {
                    var cliente_encuestado = {};
                    cliente_encuestado.id_cliente = item.value;
                    cliente.push(cliente_encuestado);
                } else {
                    if (parseInt(item.name)) {
                        var id_pregunta = parseInt(item.name);
                        var respuestas = {};
                        count += 1;
                        respuestas.id_pregunta = id_pregunta;
                        respuestas.respuesta = item.value;
                        datos_respuestas.push(respuestas);
                    } else {
                        if (item.name != "id_encuesta") {
                            var preguntas = {};
                            var tipo = item.name.split('s')[0].replace('(', '').replace(')', '').replace('p','');
                            var idPregunta = item.name.split('s')[1].replace('(', '').replace(')', '');
                            preguntas.id_pregunta = parseInt(idPregunta);
                            preguntas.tipo = parseInt(tipo);
                            preguntas.nombre = item.value;
                            datos_preguntas.push(preguntas);
                            
                        }
                    }
                }
                return obj;
            }, {});
            datos.id_plaza = parseInt(plaza);
            datos.cliente = parseInt(cliente[0].id_cliente);
            datos.id_encuesta = parseInt($('#encuesta_id').val());
            for (var i = 0; i < datos_preguntas.length; i++) {
                var pregunta = {};
                pregunta.id_pregunta = datos_preguntas[i].id_pregunta;
                pregunta.nombre = datos_preguntas[i].nombre;
                pregunta.tipoPregunta = datos_preguntas[i].tipo;
                datos.pregunta.push(pregunta);
                for (var j = 0; j < datos_respuestas.length; j++) {
                    if (datos_preguntas[i].id_pregunta == datos_respuestas[j].id_pregunta) {
                        var respuestas = {};
                        if (datos_respuestas[j].id_respuesta) {
                            respuestas.id_respuesta = datos_respuestas[j].id_respuesta;
                        }
                        respuestas.id_pregunta = datos_respuestas[j].id_pregunta;
                        respuestas.respuesta = datos_respuestas[j].respuesta;
                        datos.respuestas.push(respuestas);
                    }
                }
            }
            console.log(datos);
            $.ajax({
                url: "/Encuesta/DatosEncuesta/",
                type: "POST",
                data: { 'encuesta': datos },
                success: function (data, textStatus, jqXHR) {
                  
                   

                    swal({
                        title: "!Hecho!", text: "Encuesta se aplico exitosamente!",
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#5cb85c",
                        confirmButtonText: "Aceptar",
                        cancelButtonText: "Aceptar",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {
                        document.getElementById("encuestaForm").reset();
                    });        

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    swal("Good job!", "Encuesta guardada exitosamente!", "success");
                    document.getElementById("encuestaForm").reset();
                }
            });
        }
       
    }
</script>
</html>

