@{
    Layout = "";
    List<SoftvMVC.Controllers.EncuestaController.Detalle_pregunta> preguntas = (List<SoftvMVC.Controllers.EncuestaController.Detalle_pregunta>)ViewData["preguntas"];


}

<html>

<head>
    <script src="~/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Tell the browser to be responsive to screen width -->
    <!-- Bootstrap 3.3.5 -->
    <title>PreView | @ViewBag.NombreEncuesta</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="~/plugins/iCheck/square/purple.css">
    <link href="~/plugins/iCheck/square/orange.css" rel="stylesheet" />
    
</head>
<body>

    <div class="container">
        <div class="row">
            <p class="text-right" style="color:#00a9b2; font-size:16px;"><strong>@ViewBag.FechaCreacion</strong></p>
            <h1 class="text-left" style="color:#f60;"><strong>@ViewBag.NombreEncuesta</strong></h1>
        </div>
    </div>

    <div class="page-title" style="background-color:#00a9b2; width:100%;">
        <div class="container">
            <h3 style="color:#fff;">
                @ViewBag.Descripcion
            </h3>
        </div>
    </div>
    <div class="container">

    @foreach (var a in preguntas)
            {


        <h4 style="color:#f60;"><b>@a.Pregunta.Pregunta</b></h4>

                if (a.Pregunta.IdTipoPregunta.Value == 1)
                {

                    <textarea class="form-control"></textarea>

                }

                if (a.Pregunta.IdTipoPregunta.Value == 2)
                {

                    <div class="radio icheck">
                        <input type="radio" name="@a">
                        <label for="">Si</label>
                    </div>
                    <div class="radio icheck">
                        <input type="radio" name="@a">
                        <label for="">No</label>
                    </div>

                }
                if (a.Pregunta.IdTipoPregunta.Value == 3)
                {
                    foreach (var b in a.Respuestas)
                    {

                        <div class="checkbox icheck">
                            <input id="" type="checkbox" name="@b.ResOpcMult">
                            <label>@b.ResOpcMult</label>
                        </div>


                    }


                }

            }

        </div>

</body>
<script src="~/plugins/iCheck/icheck.min.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-orange',
            radioClass: 'iradio_square-orange',
            increaseArea: '20%' // optional
        });
    });
</script>
</html>



