@{
    List<Softv.Entities.RoleEntity> Roles = (List<Softv.Entities.RoleEntity>)ViewData["Roles"];
    try
    {
        
        List<Softv.Entities.PermisoEntity> Permiso = ViewBag.Permisos;
        var per = Permiso.Where(p => p.IdModule == 16).FirstOrDefault();

        <script>
            var permiso_editar = "@per.OptUpdate";
            var permiso_agregar = "@per.OptAdd";
            var permiso_eliminar = "@per.OptDelete";
        </script>

    }
    catch
    {
        <script>
            location.href = "/";
        </script>
    }
}
<link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
<script src="~/plugins/iCheck/icheck.min.js"></script>
<section class="content-header">
    <h1>
        Usuarios
        <small>Lista de Usuarios</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Usuarios</li>
    </ol>
</section>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
            </div><!-- /.box-header -->
            <div class="box-body">

                <table id="TablaUsuarios" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td><b>IdUsuario</b></td>
                            <td><b>Rol</b></td>
                            <td><b>Nombre</b></td>
                            <td><b>Email</b></td>
                            <td><b>Usuario</b></td>
                            <td><b>Password</b></td>
                            <td class="text-center"><b>Estado</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>

    </div>

</div>





<div class="modal fade bs-example-modal-lg" id="ModalAgregarUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Agregar Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Información principal</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" id="Nombre" placeholder="Nombre">
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Usuario</label>
                                            <input type="text" class="form-control" id="Username" placeholder="Username">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Email</label>
                                            <input id="email" type="email" class="form-control" placeholder="Email" />
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>contraseña</label>
                                            <input id="pass" type="password" class="form-control" placeholder="Contraseña" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Confirmar contraseña</label>
                                            <input id="cpass" type="password" class="form-control" placeholder="Confirma contraseña" />
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Rol</label>
                                            <select class="form-control" id="rol">
                                                <option disabled selected value="0"> Selecciona un Rol</option>
                                                @foreach (var a in Roles)
                                                {
                                                    <option value="@a.IdRol">@a.Nombre</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <label>Status</label>
                                            <div class="checkbox icheck">
                                                <input id="Status" type="checkbox" name="" value="status">
                                                <label for=""> Activo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div><!-- /.tab-content -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="GuardaUsuario();" type="button">Guardar</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Salir</button>
                </div>
            </div>
        </div>
    </div>


</div>


<div class="modal fade bs-example-modal-lg" id="ModalEliminarUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header alert-error">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="tituloModalAgregarEncuesta">Eliminar Usuario</h4>
            </div>
            <div class="modal-body">
                <input class="form-control" id="idusuario_eliminar" type="hidden">
                <h5>¿Deseas eliminar el usuario <strong id="nombre_usuario"></strong>?</h5>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="eliminarUsuario_id" />
                <button class="btn btn-danger" onclick="deleteUsuario()" type="button">Eliminar</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="ModalEditarUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Editar Usuario</h4>
            </div>
            <div class="modal-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Información principal</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <input type="hidden" id="id_editar" />
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <label>Nombre</label>
                                            <input type="text" class="form-control" id="Nombre_editar" placeholder="Nombre">
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Usuario</label>
                                            <input type="text" class="form-control" id="Username_editar" placeholder="Username">
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Email</label>
                                            <input id="Email_editar" type="email" class="form-control" placeholder="Email" />
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Contraseña</label>
                                            <input id="pass_editar" type="password" class="form-control" placeholder="Contraseña" />
                                        </div>
                                        <div class="col-sm-4">
                                            <label>Confirmar contraseña</label>
                                            <input id="cpass_editar" type="password" class="form-control" placeholder="Confirma contraseña" />
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Rol</label>
                                            <select class="form-control" id="rol_editar">
                                                <option disabled selected value="0"> Selecciona un Rol</option>
                                                @foreach (var a in Roles)
                                                {
                                                    <option value="@a.IdRol">@a.Nombre</option>
                                                }

                                            </select>
                                        </div>
                                        <div class="col-sm-5">
                                            <label>Status</label>
                                            <div class="checkbox icheck">
                                                <input id="Status_editar" type="checkbox" name="" value="status">
                                                <label for=""> Activo</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div><!-- /.tab-content -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="editarUsuario();" type="button"> Guardar</button>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Salir</button>
                </div>

            </div>
        </div>
    </div>


</div>

<script src="~/dist/js/pages/Usuario/Lista.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            $('#poner_activo li').siblings('li').removeClass('active');
            $('.19').addClass('active');
            $('#sub_activo li').siblings('li').removeClass('active');
            $('.16').addClass('active');
        });
    </script>
    


