
@{
    List<Softv.Entities.ConexionEntity> conexiones = (List<Softv.Entities.ConexionEntity>)ViewData["Conexiones"];
    try
    {
        List<Softv.Entities.PermisoEntity> Permiso = ViewBag.Permisos;
        var per = Permiso.Where(p => p.IdModule == 4 || p.IdModule == 15).FirstOrDefault();
        
        <script>
            var permiso_editar = "@per.OptUpdate";
            var permiso_agregar = "@per.OptAdd";
            var permiso_eliminar = "@per.OptDelete";
        </script>
    }
    catch
    {
        <script>
            location.href = "/";
        </script>
    }
}
<section class="content-header">
    <h1>
        Clientes
        <small>Lista de Clientes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Lista de Clientes</li>
    </ol>
</section>
<br />
<div class="row">
    <div class="row container" id="conetar_plaza">
        <div class="col-md-6">
            <button class="btn btn-warning" onclick="AbrirModalClietes()"><i class="fa fa-map-marker" aria-hidden="true"></i> SELECCIONAR PLAZA</button>
        </div>
    </div>
    <div class="col-xs-12" >
        <div class="box">
            <div class="panel-body" id="panel_clientes" style="display:none;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" id="busqueda_collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color:#4b646f;">
                                    Busqueda individual
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#contrato" aria-controls="contrato" role="tab" data-toggle="tab">Contrato</a></li>
                                    <li role="presentation"><a href="#nombre" aria-controls="nombre" role="tab" data-toggle="tab">Nombre</a></li>
                                    <li role="presentation"><a href="#direccion" aria-controls="direccion" role="tab" data-toggle="tab">Dirección</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="contrato">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p style="color:#4b646f;">Ingrese el número de contrato</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" id="input_contrato" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <span class="help-block">El número de contrato está formado por 2 grupos de números con un guión intermedio p.e. (1234-1)</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-right">
                                                    <a class="btn btn-primary" id="buscar_por_contrato"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="direccion">
                                        <br />
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="ciudad_busqueda" placeholder="Ciudad" />
                                                </div>
                                            </div><br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="colonia_domicilio" placeholder="Colonia" />
                                                </div>
                                            </div><br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="calle_busqueda" placeholder="Calle" />
                                                </div>
                                            </div><br />
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" id="numero_domicilio" placeholder="Número" />
                                                </div>
                                            </div>
                                        </div><br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-right">
                                                    <a class="btn btn-primary" id="buscar_por_direccion"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="nombre">
                                        <br />
                                        <div class="row">
                                            <div class="col-md-4">
                                                <p style="color:#4b646f;">Nombre completo</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="nombre_individual" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="text-right">
                                                    <a class="btn btn-primary" id="buscar_por_nombre"><i class="fa fa-search" aria-hidden="true"></i> Buscar</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- panel body -->
                        </div>
                    </div>
                </div>
            </div><!-- panel body -->
            <div class="row" id="invalido" style="display:none;">
                <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissible fade in" role="alert"><strong>Opsss!</strong> No se encontraron coincidencias. </div>
                </div>
            </div>
            <div class="box-body" id="panel_tabla_clientes" style="display:none;">
               
               
                <br />
                <table id="Tabla_Clientes" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr>
                            <td><b>Contrato</b></td>
                            <td><b>Nombre</b> </td>
                            <td><b>Ciudad</b></td>
                            <td><b>Colonia</b></td>
                            <td><b>Calle</b></td>
                            <td><b>Número</b></td>
                            <td><b>Opciones</b></td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="ModalEditarCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Editar cliente </h4>
            </div>
            <div class="modal-body">

                <div class="overlay" id="cargando">
                    <h1 class="text-center" style="font-size:65px;"><i class="fa fa-refresh fa-spin"></i></h1>
                </div>
                <div class="nav-tabs-custom" id="contenido_editar" style="display:none;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-folder" aria-hidden="true"></i> Información principal</a></li>
                        @*<li class=""><a href="#tab_2a" id="tab-preguntas" data-toggle="tab" aria-expanded="false"><i class="fa fa-book" aria-hidden="true"></i> Datos Fiscales</a></li>*@
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">





                            <div class="row">
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">contrato</label>

                                        <input class="form-control" type="text" id="contrato_editar" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nombre</label>
                                        <input class="form-control" type="text" id="nombre_editar" required>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Segundo Nombre</label>
                                        <input class="form-control" type="text" id="segundo_nombre_editar" required>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Apellido Paterno</label>
                                        <input class="form-control" type="text" id="apaterno_editar" required>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Apellido Materno</label>
                                        <input class="form-control" type="text" id="amaterno_editar" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fecha Nacimiento</label>
                                        <input class="form-control" type="date" id="fecha_editar" required>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ciudad</label>
                                        <select class="form-control" id="ciudad_select" required></select>
                                    </div>
                                </div>
                                <div class="col-xs-5">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Colonia</label>
                                        <select class="form-control" id="colonia_select" name="colonia" required></select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Calle</label>
                                        <select class="form-control" id="calle_editar" name="calle" required></select>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Número</label>
                                        <input class="form-control" type="text" id="numero_editar" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Entre Calles</label>
                                        <input class="form-control" type="text" id="calles_editar">
                                    </div>
                                </div>



                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Telefono fijo</label>
                                        <input class="form-control telefono" type="text" id="telefono_editar" required>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Celular</label>
                                        <input class="form-control" type="text" id="celular_editar" required>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Correo</label>
                                        <input class="form-control" type="text" id="correo_editar" required>
                                    </div>
                                </div>

                            </div>
                            <input type="hidden" id="iva_editar" />
                            <input type="hidden" id="solointernet_editar" />
                            <input type="hidden" id="eshotel_editar" />
                            <input type="hidden" id="sector_editar" />
                            <input type="hidden" id="periodo_editar" />
                            <input type="hidden" id="tap_editar" />
                            <input type="hidden" id="zona2_editar" />
                        </div>
                        <div class="tab-pane" id="tab_2a">

                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">RFC</label>

                                        <input class="form-control" type="text" id="rfc">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">CURP</label>
                                        <input class="form-control" type="text" id="curp">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Razón social</label>
                                        <input class="form-control" type="text" id="rsocial">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Estado</label>

                                        <input class="form-control" type="text" id="EstadoFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ciudad</label>
                                        <input class="form-control" type="text" id="CiudadFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Colonia</label>
                                        <input class="form-control" type="text" id="ColoniaFiscal">
                                    </div>
                                </div>

                            </div>





                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Calle</label>

                                        <input class="form-control" type="text" id="calleFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Entre calles</label>

                                        <input class="form-control" type="text" id="callesFiscal">
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Numero</label>
                                        <input class="form-control" type="text" id="NumeroFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Código postal</label>
                                        <input class="form-control" type="text" id="postafiscal">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Teléfono</label>

                                        <input class="form-control" type="text" id="TelefonoFiscal">
                                    </div>
                                </div>

                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Fax</label>
                                        <input class="form-control" type="text" id="FaxFiscal">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <input type="hidden" id="ivafiscal" />
                                    <input type="hidden" id="idasociadofiscal" />
                                    <input type="hidden" id="identificadorfiscal" />
                                    <input type="hidden" id="tipofiscal" />

                                </div>

                            </div>






                        </div><!-- /.tab-pane -->
                    </div><!-- /.tab-pane -->



                </div><!-- /.tab-content -->





            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="Editar" type="button" data-dismiss="modal">Editar</button>
                <button class="btn btn-primary pull-right" type="button" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade bs-example-modal-lg" id="ModalDetalleCliente" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">
                    Detalle de cliente
                </h4>
            </div>
            <div class="modal-body">

                <div class="box-body">
                    <div class="box-header with-border">
                        <h3 class="box-title box-primary">Datos personales</h3>
                    </div>
                    <div class="box-body">

                        <div class="info-box">
                            <span class="info-box-icon bg-aqua"><i class="fa fa-user" aria-hidden="true"></i></span>
                            <div class="info-box-content">

                                <span class="info-box-number" id="nombre_cliente"></span>

                                <span class="info-box-text"><label>Contrato: </label>  <strong id="contrato_cliente" style="color:red;"></strong></span>

                                <div class="row">
                                    <div class="col-xs-2">
                                        <label><i class="fa fa-phone"></i> Télefono</label><p id="telefono_cliente"></p>
                                    </div>
                                    <div class="col-xs-3">
                                        <label><i class="fa fa-mobile-phone"></i> Celular:</label><p id="celular_cliente"></p>
                                    </div>
                                    <div class="col-xs-3">
                                        <label><i class="fa fa-envelope"></i> Correo:</label><p id="correo_cliente"></p>

                                    </div>
                                </div>
                            </div><!-- /.info-box-content -->
                        </div>

                        <div class="info-box">
                            <span class="info-box-icon bg-green" style="background-color:#9E9E9E !important;"><i class="fa fa-home" aria-hidden="true"></i></span>
                            <div class="info-box-content">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <label>Ciudad:</label><p id="ciudad_cliente"></p>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Colonia:</label><p id="colonia_cliente"></p>

                                    </div>
                                    <div class="col-xs-2">
                                        <label> Calle:</label><p id="calle_cliente"></p>
                                    </div>
                                    <div class="col-xs-2">
                                        <label>Número:</label><p id="numero_cliente"></p>
                                    </div>
                                </div>


                            </div>
                        </div>




                    </div>
                </div>


            </div>



            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="Modal_Plaza_clientes" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <p class="col-md-4 control-label" for="selectbasic" style="padding-top:10px; color:#4b646f;">Selecciona la plaza</p>
                        <div class="col-md-6">
                            <select class="form-control" id="paza_conectando">
                                @foreach (var a in conexiones)
                                {
                                    <option value="@a.IdConexion.Value">@a.Plaza</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="plaza_conexion()" type="button" id="aceptar_plaza">Conectar</button>
                <button class="btn btn-primary " type="button" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/dist/js/pages/Cliente/Lista.js"></script>    
<script src="~/dist/js/pages/Cliente/DetalleCliente.js"></script>
<script src="~/dist/js/pages/Cliente/EditaCliente.js"></script>    
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-flash-1.2.1,b-html5-1.2.1,b-print-1.2.1,r-2.1.0/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/u/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.12,b-1.2.1,b-flash-1.2.1,b-html5-1.2.1,b-print-1.2.1,r-2.1.0/datatables.min.js"></script>
 <script>
     $(document).ready(function () {
         $('#poner_activo li').siblings('li').removeClass('active');
         $('.4').addClass('active');
         $('#sub_activo li').siblings('li').removeClass('active');
         $('.15').addClass('active');
     });
</script>

