
    @model PagedList.IPagedList<Softv.Entities.ClasificacionProblemaEntity>
    @using PagedList.Mvc;
    <script>
    function pagechange() {
    $('#Paginator').on('click', 'a', function () {
    LoadData();
    return false;
    });
    }

    $(document).ready(function () {
    pagechange();
    Permisos();
    //pone los check
    $('input').iCheck({
    checkboxClass: 'icheckbox_square-red',
    radioClass: 'iradio_square-red',
    });
    });
    </script>
    <div id="DatosTabla">
      <table class="table" id="datost">
        <tr>
        
          <th>
          </th>
        
        <th>
        </th>
        
          <th>
          </th>
        
          <th>
          @Html.Label((String)ViewBag.DisplayDescripcion)
          
          </th>
        
          <th>
          @Html.Label((String)ViewBag.DisplayActivo)
          
          </th>
        
        </tr>
    @foreach (var item in Model)
    {
    
        <tr>
        <td style="display:none">
        @Html.DisplayFor(modelItem => item.ClvProblema)
        </td>
        <td style="width: 20px;">
        <a href="@Url.Action("Edit", "ClasificacionProblema",new { id=item.ClvProblema} )" class="btnedit" style="color:white" >
        <img src="@Url.Content("~/Content/images/editicon.png")" height="20" width="20" />
        </td>
        
          <td style="width: 20px;">
          <a href="@Url.Action("Details", "ClasificacionProblema",new {id=item.ClvProblema } )" class="btndetails" style="color:white" >
          <img src="@Url.Content("~/Content/images/detailsicon.png")" height="20" width="20" />
          </td>
        
        <td style="width: 20px;">
        <img src="~/Content/images/deleteicon.png" height="20" width="20" class="btndelete" style="cursor:pointer">
        </td>
        
              <td>
              @Html.DisplayFor(modelItem => item.Descripcion)
              </td>
            
              <td>
              @if (item.Activo == true)
              {
              @Html.CheckBox("Activo", new { id = "checkActivo", @checked = "true", disabled = "disabled" })
              }
              else
              {
              @Html.CheckBox("Activo", new { id = "checkActivo", disabled = "disabled" })
              }
              </td>
            
        </tr>
      
    }
    </table>
    <div id="Paginator" class="pagefooter">
    @Html.PagedListPager(Model, page => Url.Action("QuickIndex",new { page }), new PagedListRenderOptions
                                                    {
                                                    LinkToFirstPageFormat = "1",
                                                    LinkToPreviousPageFormat = "Anterior",
                                                    LinkToNextPageFormat = "Siguiente",
                                                    LinkToLastPageFormat = "Ultima"
                                                    })
    </div>
    </div>

   

  